/* Selectors */

/* Element selector
- Select all the tags of the same type */

body { 
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-size: 18px;
}

rhri


/* Targeting multiple elements
- If you’d like to style more than one element the same way you can use a comma to separate the tag names. */
header, footer {
    background-color: cadetblue;
}



/* . Class selector
- Select an element that has a class */
.site-title {
    color: beige;
}




/* # ID selector */

#my-image {
    box-shadow: 0 0 2px 1px black;
}


/* squares and nth-child */
.square-list {
    list-style-type: square;
    }

.square-list li:nth-child(odd) {
    list-style-type: square;
    background-color:cornflowerblue;
}


