/* * {
    box-sizing: border-box;
}

/* set for every thing */
/* body {
    background-color: rgb(153, 105, 105);
    font-family:Verdana, Geneva, Tahoma, sans-serif;
    line-height: 1.4;

    margin: 0;
}
 */
/* set the size of images */
/* maybe I should add the link of location to it */
/* /maybe not logo */
/* img {
    width: 100%;
    height: auto;
} */


/* 
.wrapper {
    width: 95%;
    max-width: 1200px;
    margin: 0 auto;
} */ 
